<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="img/shield.png" class="logo">
            <h1> kaomoji text converter </h1>
        </a>
    </div>
    <div class="nav">
        <ul>
            <li class="editor">
                <a href="/">editor</a>
            </li>
            <li class="dictionary">
                <a href="/dictionary">dictionary</a>
            </li>
        </ul>
    </div>

    {{{body}}}
</body>
</html>